@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('/fonts/Mona-Sans.var.woff2') format('woff2');
}

@layer base {
  * {
    @apply m-0 scroll-smooth p-0;
  }

  ::selection {
    @apply bg-fancy-yellow text-neutral-900;
  }

  @media screen and (min-width: 1024px) {
    ::-webkit-scrollbar {
      @apply w-1.5;
    }
    ::-webkit-scrollbar-track {
      @apply bg-neutral-900;
    }
    ::-webkit-scrollbar-thumb {
      @apply rounded-full bg-neutral-400;
    }
  }
}

@layer utilities {
  .pluse-btn {
    transition:
      color 0.3s,
      box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
